.books-cards{
    width: 650px;
}

.book-list-item {
    display: flex;
    margin: 15px 0;
  }
.img-book{
   max-width: 20rem;
}
.img{
  max-width: 250px
}
  
 .book-title {
    font-size: 1.6rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
  }
  
 .book-price {
    font-size: 1.4rem;
  }

  .btn-book{
position: relative;
margin-top: 2rem;
width: 120px;
  }
  .book-details{
    width: 300px;
  }