.search-panel{
 
    width: auto;
    flex-grow: 1;
    margin-right: 5px;
    justify-content: space-between;
  }
  .search-input {
      width: 500px;
      flex-grow: 1;
      margin-right: 3px;
    }

.btn-page {
  border: 1px solid #e5e5e5;
  margin-bottom: 1rem;
}